*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}
header{
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;

}
.welcome{
    box-sizing: content-box;
    background:url(../images/bg2.png);
    width: 600px;
    color: wheat;
    border-radius: 5px;
	position: absolute;
	top: 45%;
	left:50%;
	transform: translate(-50%,-50%);
  
}
.colorchange{
	animation: colorchange 1s infinite;
}
@keyframes colorchange{
	0%{color:rgb(199, 43, 43);}
    10%{color:rgb(87, 87, 156);}
	25%{color:rgb(66, 19, 66);}
	50%{color:white;}
    70%{color:rgb(23, 66, 23);}
	100%{color:rgb(156, 168, 102);}
    
}
h1{
    font-size: 3.5em;
    text-align: center;
    font-family: 'Baloo Bhai 2';
   
}
body{
    min-height: 10vh;
    background-image: url(../images/bg.jpg);
    

}
.sidenav{
    position: fixed;
    width: 60px;
    height: 100%;
    background: #27a327;
    transition: 0.5s;
    overflow: hidden;
}
.sidenav:hover{
    width: 300px;
}
.sidenav ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
}
.sidenav ul li{
    position: relative;
    width: 100%;
    list-style: none;
}
.sidenav ul li:hover{
    background: #a3f00b;
}
.sidenav ul li a{
    position: relative;
    display:block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;

}
.sidenav ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.sidenav ul li a .icon .fa{
    font-size: 24px;
}
.sidenav ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}


